[Desktop Entry]
Version=1.0
Type=Application
Name=Install BakeryOS
Comment=Click to install BakeryOS
Exec=/usr/bin/bakeryos-installer
Icon=system-software-installer
Terminal=false
Categories=System;Settings;